{%- assign rk_resource_id = article.id | downcase -%}
{%- assign rk_mf = article.metafields.recipekit[rk_resource_id] -%}
{%- assign rk_settings = shop.metafields.recipekit.settings -%}

{%- if rk_settings.widget_status == "enabled" and rk_mf != blank -%}

  {% assign rk_related_title = 'Related Recipes' %}
  {% assign rk_related_title_font_size = '26px' %}
  {% assign rk_related_item_title_font_size = '21px' %}
  {% assign rk_related_item_text_font_size = '14px' %}

  {%- assign counter = 0 -%}
  {%- assign break_at = 3 -%}
  {%- assign current_article = article -%}
  {%- assign current_array = '' -%}
    
  {%- capture related_recipes -%}
    {%- for article in blog.articles -%}
      {%- unless article.id == current_article.id -%}
      {%- for current_tag in current_article.tags -%}
        {%- if article.tags contains current_tag -%}
    {%- assign current_array_split = current_array | split: '|' -%}
    {%- assign article_id = article.id | append: "" -%}
          {%- unless current_array_split contains article_id -%}
            {%- assign current_array = current_array | append: '|' | append: article.id -%}
            <div class="rk_related_item">
              <a href="{{ article.url }}">
                {%- if article.image -%}
                <img src="{{ article.image | img_url: '500x' }}" alt="{{ article.image.alt }}">
                {%- endif -%}
                <h4 class="rk_related_item_title">{{ article.title }}</h4>
                <p class="rk_related_item_text">
                  {%- if article.excerpt.size > 0 -%}
                  {{ article.excerpt }}
                  {%- else -%}
                  {{ article.content | strip_html | truncate: 150 }}
                  {%- endif -%}
                </p>
              </a>
            </div>
          {%- assign counter = counter | plus: 1 -%}
          {%- endunless -%}
        {%- endif -%}
      {%- endfor -%}
      {%- endunless -%}
      {%- if counter == 3 -%}
        {%- break -%}
      {%- endif -%}
    {%- endfor -%}
  {%- endcapture -%}

  {%- assign related_recipes = related_recipes | trim -%}
  {%- unless related_recipes == blank -%}
    <div class="rk_related_recipes">
      <h3 class="rk_related_title">
        {{ rk_related_title }}
      </h3>

      <div class="rk_related_grid">
        {{ related_recipes }}
      </div>
    </div>
  {%- endunless -%}

  <style>
    .rk_related_title {
      font-size: {{ rk_related_title_font_size }} !important;
      padding: 10px;
      border-bottom: 1px solid #ccc;
      margin: 0 !important;
    }

    .rk_related_grid {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    .rk_related_item {
      flex-basis: 33.3333%;
      padding: 10px;
    }

    @media screen and (max-width: 800px) {
      .rk_related_item {
        flex: 1;
      }
    }

    .rk_related_item_title {
      font-size: {{ rk_related_item_title_font_size }} !important;
      padding: 10px 0;
      border-bottom: 1px solid #ccc;
      margin: 0 !important;
    }

    .rk_related_item_text {
      font-size: {{ rk_related_item_text_font_size }} !important;
      padding-top: 10px;
    }

    .rk_related_item img {
      width: 100%;
      object-fit: cover;
      max-width: 100%;
      height: 200px;
    }

    /* Debut Theme Fix */
    .rte a:not(.btn) {
      border-bottom: none;
      padding-bottom: 0;
    }
  </style>
  
{% endif %}